data_sparse
data_specific
data_video
data_paper
xjdata
exavatar/fitting/common/utils/human_model_files
portrait_magic/wb_landmarks/ckpts
portrait_magic/dmm_models/flame/FLAME2020/generic_model.pkl
portrait_magic/dmm_models/flame/FLAME2020/FLAME_albedo_from_BFM.npz
portrait_magic/dmm_models/smplx/SMPLX2020
portrait_magic/dmm_models/adnerf_rendering
portrait_magic/third_parties/MICA/mica.tar
portrait_magic/feature_tracking_all/cotracker_stride_4_wind_8.pth
portrait_magic/feature_tracking_all/scaled_online.pth
portrait_magic/video_matting/RobustVideoMatting/rvm_resnet50.pth
portrait_magic/sapiens_pose/sapiens_2b_coco_wholebody_best_coco_wholebody_AP_745_torchscript.pt2
portrait_magic/normal_estimation/sapiens_2b_normal_render_people_epoch_70_torchscript.pt2
portrait_magic/segmentation/U2Net/figures
portrait_magic/segmentation/U2Net/test_data
portrait_magic/face_landmarks/DSLPT/Weight/DSLPT_WFLW_12_layers.pth
portrait_magic/face_landmarks/DSLPT/Figures
portrait_magic/gaussian_training/simple-knn
portrait_magic/gaussian_training/diff-gaussian-rasterization
portrait_magic/gaussian_training_mesh_opt/simple-knn
portrait_magic/gaussian_training_mesh_opt/diff-gaussian-rasterization
portrait_magic/gaussian_training_mesh_opt_mixed/simple-knn
portrait_magic/gaussian_training_mesh_opt_mixed_gttrack/simple-knn
portrait_magic/gaussian_training_pose_opt/simple-knn
portrait_magic/gaussian_training_pose_opt/diff-gaussian-rasterization
portrait_magic/gs_mesh_vis/simple-knn
portrait_magic/video_segmentation/vid_mat_models/model.safetensors
**/__pycache__
*.pkl
*.png
*.jpg
*.mp4
*.obj
*.log